$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";


/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/** ------------------------------------------------
  social
-------------------------------------------------- */
.social{
  position: relative;
  text-align: right;
  .button{
    display: inline;
  }
  .github{
    margin-right: 35px;
  }
  .offset{
    position: relative;
    top: -2px;
  }
}

/** ------------------------------------------------
  header
-------------------------------------------------- */
.main-header{
  text-align: center;
  .title{
    font-size: 80px;

  }
}
.desc{
  width: 800px;
  margin: 0 auto;
  text-align: center;
}


/** ------------------------------------------------
  input
-------------------------------------------------- */
.input{
  margin-bottom: 20px;
  text-align: center;
  .url-form{
    display: inline-block;
    width: 800px;
  }
  .btn{
    margin-top: -5px;
    display: inline-block;
    margin-left: 20px;
    width: 90px;
  }
}

/** ------------------------------------------------
  main data
-------------------------------------------------- */
.main-data{
  margin-top: 20px;

  th{
    text-align: center;
  }
}
