<table id="result" class="data table table-hover table-bordered">
  <tr>
    <th>Title</th>
    <th>URL</th>
    <th>like</th>
    <th>tweet</th>
    <th>g+1</th>
    <th>pocket</th>
  </tr>

  <tr ng-repeat="record in data" repeat-done="layoutDone()">
    <td>{{record.title}}</td>
    <td><a href="{{record.url}}" target="_blank">{{record.url}}</a></td>
    <td><like url="{{record.url}}"></like></td>
    <td><tweet url="{{record.url}}"></tweet></td>
    <td><plusone url="{{record.url}}"></plusone></td>
    <td><pocket url="{{record.url}}"></pocket></td>
  </tr>
</table>